
module my-euunstrip 1.0;

require {
	type unlabeled_t;
	type abrt_t;
	class file { open read };
}

#============= abrt_t ==============
allow abrt_t unlabeled_t:file open;

#!!!! This avc is allowed in the current policy
allow abrt_t unlabeled_t:file read;
